{% extends "layout.html" %}

{% block title %}Location List{% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container text-center">
        <h1 class="my-4">LOCATIONS</h1>

        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>CAPACITY</th>
                        <th>POC</th>
                        <th>POC Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for location in location_i %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ location['location_name'] }}</td>
                        <td>{{ location['location_address'] }}</td>
                        <td>{{ location['location_capacity'] }}</td>
                        <td>{{ location['location_POC'] }}</td>
                        <td>{{ location['location_POC_contact'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if total_pages > 1 %}
            <!-- If there are pages, display pagination -->
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('Location', page=page-1) }}">Previous</a>
                        </li>
                    {% endif %}
                    
                    {% for p in range(1, total_pages + 1) %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('Location', page=p) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    
                    {% if page < total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('Location', page=page+1) }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
</main>
{% endblock %}
