<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body class="login-page">
    <div class="login-container">
        <h1>Login Form</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('auth.login') }}" method="POST">
            <div class="input-wrapper">
                <label for="phone_no">Phone No.:</label>
                <input type="number" id="phone_no" name="phone_no" class="input-field" placeholder="Valid Phone No." required>
            </div>
            <br/>
            <div class="input-wrapper">
                <label for="password">Password  :</label>
                <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
            </div>
            <br/>
            <input type="submit" value="SUBMIT" class="submit-btn">
        </form>

        <p class="signup-link">Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>

    </div>
</body>
</html>
